# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/
env/

# PyCharm / IDEs
.idea/
.vscode/

# Pytest / Coverage
.pytest_cache/
.coverage
htmlcov/

# Lock files / Build output
dist/
build/
*.egg-info/
